body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.payment-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background: #ff4d4d;
    color: white;
    transition: 0.3s ease-in-out;
}

.fixed-button:hover {
  transform: scale(1.05); /* agrandit légèrement */
  box-shadow: 0 0 30px rgb(255, 255, 255); /* ombre plus forte */
}
